<div class="container">
    <div class="content-wrapper">
        <button mat-raised-button color="primary" class="create-button">Create Blog</button>
        <div class="card">
            <div class="title">Title</div>
            <div class="author">Written by</div>
            <div class="content">
                <p>A wise Chinese farmer and son had only one horse to plow the fields.
                    One day, the horse escaped and disappeared into the woods . When the neighboring villagers tried to console the old man over his bad luck, the farmer replied, “Bad luck? Good luck? Who knows!”
                    Days later, the horse returned with a herd of 12 wild horses. This time the villagers also came back to congratulate the farmer on his good luck.
                    His reply was “Good luck? Bad luck? Who knows?”
                    The next day, while trying to train the wild horses to till the farm, the farmer’s son fell off a horses back and broke his leg. The villagers once again thought this was very bad luck but again he farmer replied:
                    “Bad luck? Good luck? Who knows?”
                    A week later, the king’s army marched into the village and enlisted every able-bodied youth they could find. When they saw the farmer’s son with his broken leg, they left him.
                    The villagers returned rejoicing and congratulating the farmer’s good luck but again the farmer replied:
                    “Good luck ? Bad luck? Who knows?”
                    Source: Chinese Zen Fable</p>
            </div>
        </div>
    </div>
</div>
