<div class="container">
    <div class="content-wrapper">
        <div class="title">
            Title
        </div>
        <div class="content">
            Content
        </div>
        <div class="author">
            Written by Charan
        </div>
        <div class="comments">
            <span class="comment"> <span class="uname">charan:</span> <span class="comment">Comment:</span> </span>
            <span class="comment"> <span class="uname">charan:</span> <span class="comment">Comment:</span> </span>
            <span class="comment"> <span class="uname">charan:</span> <span class="comment">Comment:</span> </span>
        </div>
    </div>
</div>
