<div class="container">
    <div class="content-wrapper" *ngIf="blogService.blogsData.length != 0">
        <div class="title">
            {{blogService.blogsData[blogIndex].title}}
        </div>
        
        <div class="content" [innerHtml]="blogService.blogsData[blogIndex].content">
        </div>
        
        <div class="author">
            Written by {{blogService.blogsData[blogIndex].author}}
        </div>

        <div class="comments">
            <span class="comment"> <span class="uname">charan:</span> <span class="comment">Comment:</span> </span>
            <span class="comment"> <span class="uname">charan:</span> <span class="comment">Comment:</span> </span>
            <span class="comment"> <span class="uname">charan:</span> <span class="comment">Comment:</span> </span>
        </div>
    </div>
</div>
